name: Build Python Executable with PyInstaller

on:
  push:
    branches:
      - main  # Change this to the branch you want to trigger the workflow on

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x  # Specify the Python version you want

    - name: Install PyInstaller
      run: pip install -r requirements.txt
            pip install pyinstaller

    - name: Build Executable
      run: main.py  # Replace 'your_script.py' with the name of your Python script

    - name: Upload Executable
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: ./dist
